body {
    margin: 0;
}

/* The menu */
#header {
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(245, 245, 245);

}

#nav-bar ul li {
    margin: 5px;
    padding: 0 15px;
    display: flex;
    justify-content: start;
    flex-direction: column;

}

#nav-bar ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    /* width: 40%; */
    display: flex;
    justify-content: end;
    align-items: center;
}


/* the Text of nav items*/
.nav-link {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
}