html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 1));
}

::selection {
    color: #0D0D0D;
    background-color: #F2F2F2;
}

.section-title,
#how-it-works h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 0;
}

fieldset h2 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

/* The menu */
#header {
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(245, 245, 245);
}

section h1 {
    color: #F2F2F2;
}

#features,
#how-it-works,
#pricing {
    margin-top: 50px;
}

#nav-bar ul li {
    margin: 5px;
    padding: 0 15px;
    display: flex;
    justify-content: start;
    flex-direction: column;

}

#nav-bar ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#nav-bar {
    /* width: 40%; */
    display: flex;
    justify-content: end;
    align-items: center;
}


/* the Text of nav items*/
.nav-link {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
}

#form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 70px);
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0)),
        url("assets/Hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 20px;
    gap: 25px;
    box-sizing: border-box;
    max-width: 1200px;
}

.text-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.text-div,
fieldset {
    width: 50%;
}

.text-div,
fieldset {
    height: 350px;
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* box-sizing: border-box; */
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: #F2F2F2;
}

#submit {
    width: 85%;
    height: 34px;
    margin: 0 auto;
    color: white;
    border: 0;
    background-color: #F25C05;
}

button,
#submit {
    height: 34px;
    margin: 0 auto;
    color: white;
    border: 0;
    background-color: #F25C05;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

fieldset p {
    text-align: center;
    margin: 10px 15px;
    font-size: 12px;
}

label input {
    width: 80%;
    height: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.text-div p {
    color: white;
    width: 90%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
}

fieldset label {
    display: flex;
    justify-content: center;
    align-items: center;
}


#title {
    color: #ffffff;
    font-size: 2.5rem;
    font-family: "DynaPuff", system-ui;
    margin: 0;
}

fieldset p {
    font-family: "Montserrat", sans-serif;

}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 90px;
    text-align: center;
    /* optional: margin-top for spacing */
    margin: auto 0;
}

#footer-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
    height: 200px;
    width: 92%;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(232, 253, 253);
    padding-bottom: 25px;
    padding-top: 25px;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.9) 100%,
            rgba(0, 0, 0, 0)),
        url("assets/Hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#footer-container ul {
    color: antiquewhite;
    list-style: none;
}

#footer-container ul li {
    margin: 10px;
}


.nav-link-footer {
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: right;


}

#footer-note {
    margin-top: 50px;
    text-align: right;
}

#features,
#pricing {
    width: 0 auto;
    margin: 50px auto;
    padding: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid black; */
    gap: 10px;
    max-width: 1000px;
    height: auto;
    box-sizing: border-box;
}

.grid-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.definition {
    margin: 0 auto;
    width: 80%;
}

.fa {
    color: #F25C05;
}

#how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px auto;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

#video {
    aspect-ratio: 16 / 9;
    width: auto;
    max-width: 75%;
    margin-bottom: 50px;
    height: auto;
}

/* #pricing {
    width: 0 auto;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    max-width: 1000px;
} */

.grid,
#ternor,
#bass,
#valve {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    border-radius: 5px;
    background-color: #F2F2F2;
    min-height: 70%;
    height: auto;
    font-weight: 500;
}

.grid h2 {
    color: #0D0D0D;
    font-size: 34px;
    font-weight: 100;
    font-family: "Bebas Neue", sans-serif;
}

.grid p {
    color: #0D0D0D;
    font-size: 15px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.grid-parent ul li {
    color: #0D0D0D;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}


#ternor ul,
#bass ul,
#valve ul {
    text-align: center;
    text-decoration: none;
    margin: 10px;
    list-style-type: none;
    padding: 10px 0;
    /* border: 1px solid black; */
}

#how-it-works h1 {
    color: black;
}

#btn-container,
#btn {
    margin: 0 auto;
}

.price-title {
    font-size: 30px;
    margin: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
}

.price {
    font-size: 50px;
    margin: 2px;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    color: #F25C05;
}


#submit:hover,
button:hover {
    background-color: #0D0D0D;
    cursor: pointer;
}

.price:hover {
    color: #0D0D0D;
}

@media (max-width: 768px) {
    #title {
        /* margin-top: 100px; */
        font-size: 2rem;
    }

    .text-div p {
        font-size: 0.8rem;
        width: 70%;
    }

    #form-section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image:
            linear-gradient(to top, rgba(0, 0, 0, 1) 50%,
                rgba(0, 0, 0, 0.5) 100%,
                rgba(0, 0, 0, 0)),
            url("assets/Hero-image.jpg");
    }

    #form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    .text-div {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    fieldset {
        width: 70%;
    }

    .grid-parent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .grid,
    #ternor,
    #bass,
    #valve {
        margin: 10px;
        padding: 10px;
        width: 58%;
    }
}